* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 20px;
}

.toolbar { margin-bottom: 20px; }

button {
  margin-right: 5px;
  padding: 5px 15px;
  font-size: 15px;
  color: black;
  background-color: white;
  border: 1px solid black;
}

button:hover {
  color: white;
  background-color: black;
}

.active {
  color: white;
  background-color: black;
}

.gallery {
  column-count: 3;
  column-width: 33%;
}